<div class="list-group" id="list-group-column">
  <table class="table table-hover" id="contacts-list">
    <thead>
      <tr>
        <th><%= sort_link "first_name" %></th>
        <th><%= sort_link "last_name" %></th>
        <th class="hidden-xs"><%= sort_link "email" %></th>
      </tr>
    </thead>
    <tbody>
      <% contacts.each do |contact| %>
        <tr class="clickable-row" data-href="/contacts/<%= contact.id %>">
          <td><%= "#{contact.first_name}" %></td>
          <td><%= "#{contact.last_name}" %></td>
          <td class="hidden-xs"><%= "#{contact.email}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
