<div class="edit-form-wrapper">
  <%= simple_form_for @contact, remote: true  do |f| %>
    <label for="control-label string required" for="contact_profile_picture">Profile picture</label>
    <%= f.file_field :profile_picture, as: :file %>
    <%= f.input :first_name, hint: false, error: "You can't leave this empty." %>
    <%= f.input :last_name, hint: false %>
    <%= f.input :email, hint: false, error: "Invalid email address." %>
    <%= f.input :note %>
    <div class="edit-group-wrapper">
      <a href="#" data-toggle="modal" data-target="#edit-groups-modal" class="button" id="add-group-button"><i class="fa fa-plus"></i> Add To Group</a>
    </div>
    <%= f.button :submit, class: "btn btn-default btn-primary" %>
    <%= link_to "Cancel", contact_path(@contact), remote: true, class: "btn btn-secondary", role: "button" %>
  <% end %>
</div>
