<h3>Edit</h3>
<%= simple_form_for @contact, remote: true  do |f| %>
  <%= f.input :first_name, hint: false, error: "You can't leave this empty." %>
  <%= f.input :last_name, hint: false %>
  <%= f.input :email, hint: false, error: "Invalid email address." %>
  <%= f.input :note %>
  <%= f.button :submit, class: "btn btn-default btn-primary" %>
  <%= link_to "Cancel", contact_path(@contact), remote: true, class: "btn btn-secondary", role: "button" %>
<% end %>
