<%= form_for @contact do |f| %>
  <div class="form-label">
    <%= f.label :first_name %>
  </div>
  <div class="form-textarea">
    <%= f.text_field :first_name %>
  </div>
  <div class="form-label">
    <%= f.label :last_name %>
  </div>
  <div class="form-textarea">
    <%= f.text_field :last_name %>
  </div>
  <div class="form-label">
    <%= f.label :email %>
  </div>
  <div class="form-textarea">
    <%= f.text_field :email %>
  </div>
  <div class="form-label">
    <%= f.label :note %>
  </div>
  <div class="form-textarea">
    <%= f.text_field :note %>
  </div>
  <div class="form-action">
    <%= f.submit %>
  </div>
<% end %>
