<%= simple_form_for @contact, remote: true  do |f| %>
  <%= f.input :first_name, hint: false, error: "You can't leave this empty." %>
  <%= f.input :last_name, hint: false %>
  <%= f.input :email, hint: false, error: "Invalid email address." %>
  <%= f.input :note %>
  <div class="modal-footer">
    <%= f.submit :submit, class: "btn btn-default btn-primary" %>
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
<% end %>
