<div class="card">
  <% if @contact.profile_picture.file %>
    <%= image_tag(@contact.profile_picture) %>
  <% else %>
    <%= image_tag('default_user.PNG') %>
  <% end %>
  <div class="card-block">
    <h4 class="card-title"><%= contact.first_name %> <%= contact.last_name %></h4>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><%= contact.email %></li>
    <li class="list-group-item"><%= contact.note %></li>
  </ul>
  <div class="card-block">
    <%= link_to 'Edit', edit_contact_path(contact), id: "edit-button", remote: true %>
    <%= link_to 'Delete', contact, method: :delete, data: {confirm: 'Are you sure?'} %>
  </div>
</div>
