<!DOCTYPE html>
<html>
  <head>
    <title>Contacts Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="nav-bar">
        <h1>Contact Manager</h1>
        <%= form_tag contacts_path, :method => 'get' do =%>
          <%= text_field_tag :search, params[:search], placeholder: "Search for anyone..." %>
          <%= submit_tag "Search" %>
        <% end %>
      </nav>
    </header>
    <%= link_to 'Create', new_contact_path %>
    <%= yield %>
  </body>
</html>
