<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF">
    <title>Contacts Manager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    </script>
  </head>
  <body>
    <header class="main-header">
      <div class="header-chunk logo-area">
        <h1>Contact Manager</h1>
      </div>
      <div class="header-chunk search-area">
        <%= form_tag contacts_path, :method => 'get', :id => 'contact-search' do =%>
          <%= text_field_tag :search, params[:search], placeholder: "Search for anyone..." %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
    </header>
    <nav class="side-nav">
      <ul class="nav-list">
        <li class="nav-item" id="create-button">
          <%= link_to 'Create', new_contact_path %>
        </li>
        <li class="nav-item" id="index-button">
          <%= link_to 'All contacts', fetch_all_path, remote: true %>
        </li>
        <ul class="group-list">
          Groups
          <% @groups.each do |group| %>
            <li>
              <%= link_to "#{group.name}", fetch_contacts_path(:group_id => group.id), remote: true %>
              <div class="group-options">
                <%= link_to "Edit", edit_group_path(group) %>
                <%= link_to "Delete", group, method: :delete, data: {confirm: 'Are you sure?'} %>
              </div>
            </li>
          <% end %>
          <li><%= link_to "New group", new_group_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></li>
        </ul>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
