<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF">
    <title>Contacts Manager</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </script>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-default sidebar">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="hidden-sm hidden-md hidden-lg" id="small-logo-container">
              <h1 id="small-logo">CM</h1>
            </div>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse " id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li>
                <%= link_to new_contact_path, class: "create-button", :remote => true do %>
                  Create
                  <span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-plus" id="sidebar-glyphs"></span>
                <% end %>
              </li>
              <li>
                <%= link_to fetch_all_path, remote: true do %>
                  All Contacts
                  <span class="pull-left hidden-xs glyphicon glyphicon-list" id="sidebar-glyphs"></span>
                <% end %>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="groups-dropdown">
                  Groups
                  <span class="caret"></span>
                  <span style="font-size:16px;" class="pull-left hidden-xs showopacity glyphicon glyphicon-user" id="sidebar-glyphs"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                  <% @groups.each do |group| %>
                    <li class="list-group group-name-container">
                      <div class="group-name-wrapper">
                        <%= link_to "#{group.name}", fetch_contacts_path(:group_id => group.id), remote: true %>
                      </div>
                      <div class="pull-right action-buttons">
                        <%= link_to edit_group_path(group), remote: true do %>
                          <span class="glyphicon glyphicon-pencil"></span>
                        <% end %>
                        <%= link_to group, method: :delete, data: {confirm: 'Are you sure?'} do %>
                          <span class="glyphicon glyphicon-trash"></span>
                        <% end %>
                      </div>
                    </li>
                  <% end %>
                  <li class="divider"></li>
                  <li class="list-group">
                    <div class="group-name-wrapper">
                      <%= link_to "New group", new_group_path, id: "new-group-link", :remote => true, data: { toggle: "modal", target: "#ajax-modal" } %>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <nav class="nav-bar">
        <h1 class="hidden-xs " id="logo">CONTACT MANAGER</h1>
        <div class="search-box-wrapper">
          <%= form_tag search_contacts_path, :method => 'get', id: "contact-search", remote: true do =%>
            <div class="form-search-wrapper">
              <%= text_field_tag :search, params[:search], placeholder: "Search for anyone..." %>
              <%= button_tag(type: "submit", class: "btn btn-default", :name => nil) do %>
                <span class="glyphicon glyphicon-search"></span>
              <% end %>
            </div>
          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
